/* ==============================
   ESTILO PRINCIPAL - Café&Prosa
   ============================== */

:root {
  --marrom-escuro: #4e2e1e;
  --marrom-medio: #7c4f2c;
  --marrom-claro: #bfa07a;
  --bege: #e4dbca;
  --dourado: #c9a66b;
  --branco: #fff;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #af8d71;
  color: var(--marrom-escuro);
  line-height: 1.6;

  display: flex;
  flex-direction: column;

  background-image: url("/Img/novo.jpg"); /* caminho da imagem */
  background-size: cover; /* cobre toda a tela */
  background-repeat: no-repeat; /* não repete a imagem */
  background-position: center; /* centraliza a imagem */

  flex: 1;
}

/* Cabeçalho */
header {
  background-color: var(--bege);
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  gap: 150px;
}

.logo {
  height: 100px;
}

/* Navegação */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 40px;
}

nav ul li a {
  color: #4e2e1e;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}

nav ul li a:hover {
  background-color: var(--marrom-claro);
}

nav ul li a.active {
  color: var(--branco);
  background-color: #3a2a21;
}

main {
  flex: 1;
  height: 70000px;
}

/* Seção principal */

.Sobre {
  background-color: transparent;
  width: 700px;
  margin-top: 65px;
  color: white;
  padding: 100px;
  margin-left: 150px;
}

.Sobre h2 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  text-shadow: 2px 2px 10px rgba(117, 117, 117, 0.7);
  margin-bottom: 1rem;

}

.Sobre p {
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 10px rgba(117, 117, 117, 0.7);
}

.btn-cardapio {
  font-family: "Playfair Display", serif;
  font-size: medium;
  height: 35px;
  width: 125px;
  background-color: var(--marrom-claro);
  color: white;
  border-radius: 20px;
  padding: 8px;
}

.btn-cardapio2 {
  font-family: "Playfair Display", serif;
  font-size: medium;
  height: 35px;
  width: 125px;
  background-color: var(--marrom-escuro);
  color: white;
  border-radius: 20px;
  padding: 8px;
  margin-left: 0.3rem;
}

section h2 {
  color: var(--marrom-escuro);
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

section p {
  font-size: 1rem;
  color: #3a2a21;
}

/* Rodapé */
footer {
  background-color: var(--marrom-escuro);
  color: var(--bege);
  text-align: center;
  padding: 1rem;
}

footer nav a {
  color: var(--dourado);
  margin: 0.1rem;
  transition: color 0.3s ease;
}

footer nav a:hover {
  color: var(--branco);
}

/* Animação suave ao rolar */
html {
  scroll-behavior: smooth;
}

/* Responsividade */
@media (max-width: 768px) {
}
